@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Raleway';
}

div {
    font-family: 'Raleway';
}

span {
    font-family: 'Raleway';
}

p {
    font-family: 'Raleway';
}

a {
    font-family: 'Raleway';
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.hausratBlueDiv {
    background-color: #50B8E7;
    border-radius: 16px;
    position: relative;
}

.hausratBlueDiv span {
    color: #fff;
    font-weight: 600;
}

.hausratWhiteDiv {
    background-color: white;
    box-shadow: 0px 4px 18px rgba(170, 170, 170, 0.25);
}

.hausratWhiteDiv span {
    color: #5a5a5a;
}

.hausratFormInputs_2 {
    background: #FFFFFF;
    border: 1px solid #D5D5D5 !important;
    border-radius: 11px;
    border: none;
    outline: none !important;
    padding: 0.6rem;
    width: 100%;

}
.hausratFormInputs_2::placeholder {
    color: rgba(112, 112, 112, 0.54);
}
.hausratFormInputs {
    width: 100%;
    background: #FFFFFF;
    border-radius: 11px;
    border: none;
    outline: none !important;
    padding: 0.6rem;
}

.hausratModalInputs {
    width: 100%;
    border-radius: 11px !important;
    border: none !important;
    outline: none !important;
    padding: 0.5rem !important;
}


.hausratRangeInput::-webkit-slider-runnable-track {
    -webkit-appearance: none !important;
    appearance: none !important;
    background: #fff !important;
    width: 100%;
    cursor: pointer;
    border-radius: 26px !important;
    height: 16px !important;
    border: 1px solid #D5D5D5 !important;
}

.hausratRangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    background: #11A3E6;
    cursor: pointer;
    margin-top: -3px !important;
}

.hausratRangeInput::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #11A3E6;
    cursor: pointer;
}

.hausratBtn {
    background: #34ACE3;
    border-radius: 8px;
    border: none;
    width: 300px;
    color: #fff;
    font-weight: 800;
}

.blueBorderDiv {
    border: 1px solid #50B8E7;
    border-radius: 16px;
}

.blackTextBig {
    font-size: 60px;
    font-weight: 600;
}

.blueTextBig {
    font-size: 140px;
    font-weight: 800;
    color: #348ccc;
}

.crookedText {
    line-height: 1;
    transform: rotateZ(-15deg);
}

.hausratWhiteBg {
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(166, 165, 165, 0.25);
    border-radius: 10px;
}

.blueBlobBg {
    background-image: url('../../assets/images/blueBlob.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 800;

}

.hausratSwiper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hausratSwiper .swiper-pagination-bullet-active {
    background-color: #000;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.hausratModal {
    background: rgba(29, 32, 34, 0.4);
    backdrop-filter: blur(15px);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.hausratModalContent {
    background: #fff;
    border-radius: 23px;
    width: 600px;
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.modalXBtn {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
}

.hausratModalScroll {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.checkmarkModalImgDiv img {
    width: 22px !important;
}
.festhypothekImgs svg {
    max-width: 270px;
}
@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {


    .blackTextBig {
        font-size: 50px;
    }

    .blueTextBig {
        font-size: 100px;

    }
}

@media (max-width: 575.98px) {


    .hausratBtn {
        width: 100%;
    }

    .blackTextBig {
        font-size: 30px;
    }

    .blueTextBig {
        font-size: 80px;

    }

    .hausratBlueDiv {
        margin-bottom: 6rem;
    }
}

.darkTheme .hausratFormInputs {
    background-color: transparent;
    border: 1px solid #34ACE3;
    color: #fff;
}

.darkTheme .blueBorderDiv {
    color: #fff;
}

.darkTheme .hausratModalContent {
    background-color: #333436;
    color: #fff;
}

.darkTheme .hausratModalContent span {
    color: #fff !important;

}

.darkTheme .hausratModalContent input {
    border: 1px solid #434343 !important;
    background-color: transparent;
    color: #fff;
}

.darkTheme .hausratModalContent select {
    border: 1px solid #434343 !important;
    background-color: transparent;
    color: #fff;
}

.darkTheme .hausratModalContent select option {
    color: #000;
}

.darkTheme .hausratModalContent input:disabled {
    background-color: #282424 !important;
    color: #ccc;
}

.darkTheme .hausratModalContent select {
    border: 1px solid #434343 !important;
}

.darkTheme .checkmarkRes2:hover {
    border: 4px solid #434343;
}

.darkTheme .checkmarkRes2 {
    background-color: transparent;
    border: 4px solid #434343;
}

.darkTheme .hausratWhiteBg {
    background-color: transparent;
    box-shadow: 0px 4px 17px rgba(000, 000, 000, 0.5);
    color: #fff;
}

.darkTheme .blackTextBig {
    color: #fff;
}