.cloudsBackground {
    background: url('../../assets/images/clouds.svg') no-repeat;
    /* height: 350px; */
    width: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 80s;
    animation-delay: -30s;
    animation-name: moveCloudsRight;
    background-repeat: repeat-x;
    background-size: contain;
    padding-bottom: 5rem !important;
}

@keyframes moveCloudsRight {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: 1920px center;
    }
}

.wrapDiv {
    margin: 0px 12rem;
}

.wrapDiv1 {
    padding: 0px 12rem;
}

.blueBackgroundDiv {
    background: url('../../assets/images/bluebackground.svg') no-repeat;
    background-size: cover;
}

.firstBlueTitle {
    color: #50B8E7;
    font-weight: 700;
    font-size: 45px;
}

.finanuSubTitle {
    font-size: 22px !important;
    color: #5a5a5a !important;
    font-weight: 600;
}

.whiteTextOverwrite {
    color: #fff !important;
}

.firstSectionBlueBtn1 {
    color: #fff;
    background-color: #50B8E7;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem 2.5rem;
}

.firstSectionBlueBtn {
    color: #50B8E7;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem 2.5rem;
}

.blueBgdiv {
    background-color: #84CDEE;
    border-radius: 25px;
}

.blueBgdiv a {
    text-decoration: none !important;
}

.blueBgdiv img {
    width: 130px;
}

.servicesWhiteText {
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.marginGutter {
    margin: 0px -1.5rem;
}

.whiteTestimonials {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0 0 10px;
}

.customSelectStyle {
    border: none !important;
    box-shadow: 0px 4px 15px rgba(193, 175, 175, 0.25) !important;
    border-radius: 8px !important;
    font-weight: 400 !important;

}

.fourthSectionBlueDiv {
    color: #fff;
    background-color: #34ACE3;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem 2.5rem;
}

.customSelectStyle::placeholder {
    font-weight: 400 !important;
    color: #000 !important;
    text-align: center;
}

.blueCloudsBg {
    background-color: #50B8E7;
    background-image: url('../../assets/images/blueCloudsBg.svg');
    background-size: cover;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 8%) 0 0 10px;
}

.autoCheckbox {
    width: 420px !important;
}

.checkboxWidth {
    max-width: 420px !important;
    width: 100%;
}

.paddingTopDiv {
    padding-top: 9rem;
}

.autoImage {
    width: 50%;
}

.textStartToEnd {
    text-align: end;
}
.sideBlueBg {
    position: absolute;
    
    right: 0;
    background: url('../images/sideBlueBg.svg') no-repeat;
    background-size: cover;
    height: 1600px;
    width: 500px;
}
@media (max-width: 1399.98px) {
    .wrapDiv {
        margin: 0px 6rem;
    }

    .wrapDiv1 {
        padding: 0px 6rem;
    }

    /* .cloudsBackground {
        height: 300px;
    } */
}

@media (max-width: 1199.98px) {
    .wrapDiv {
        margin: 0px 2.5rem;
    }

    .wrapDiv1 {
        padding: 0px 2.5rem;
    }

    .paddingTopDiv {
        padding-top: 9rem;
    }
    .firstBlueTitle {
        font-size: 40px;
    }
}

@media (max-width: 991.98px) {
    .wrapDiv {
        margin: 0px 1.5rem;
    }

    .wrapDiv1 {
        padding: 0px 1.5rem;
    }

    /* .cloudsBackground {
        height: 250px;
    } */

    .autoImage {
        width: 60%;
    }

    .autoCheckbox {
        width: 100% !important;
    }
}

@media (max-width: 767.98px) {
    .cloudsBackground {
        background-size: cover;
        height: auto;
        padding-bottom: 3rem !important;
    }

    .wrapDiv {
        margin: 0rem 1.5rem;
    }

    .wrapDiv1 {
        padding: 0rem 1.5rem;
    }

    body {
        padding-top: 6rem;
    }

    .bodyCounterPadding {
        padding-bottom: 6rem;

    }

    .paddingTopDiv {
        padding-top: 8rem;
    }

    .autoImage {
        width: 60%;
    }
}

@media (max-width: 575.98px) {
    .marginGutter {
        margin: 0px;
    }

    .fourthSectionBlueDiv {
        margin-left: 0px !important;
        border-radius: 12px !important;
        margin-top: -20px;
        z-index: 10;
        padding: 2rem 2rem !important;
    }

    .fourthSectionImgDiv {
        z-index: -1 !important;
    }

    .fourthSectionImg {
        width: 100%;
    }

    .autoCheckbox {
        width: 100% !important;
    }

    .autoImage {
        width: 100%;
    }

    .checkboxWidth {
        max-width: 100% !important;
        width: 100%;
    }

    .textStartToEnd {
        text-align: start;
    }

    .firstBlueTitle {
        font-size: 30px;
    }
    .finanuSubTitle { 
        font-size: 20px !important;
    }
}

.darkTheme .cloudsBackground span {
    color: #50B8E7;
}

.darkTheme .blueBgdiv {
    background-color: #333436;
}

.darkTheme .normalTextToBlue {
    color: #50B8E7;
}

.darkTheme .normalTextToWhite {
    color: #fff !important;
}

.darkTheme .blueCloudsBg {
    background-color: #333436;
    background-image: url('../../assets/images/blueCloudsBgDark.svg');

}

.darkTheme .fourthSectionBlueDiv {
    background-color: #333436;
}

.darkTheme .whiteTestimonials {
    background-color: #333436;
    color: #fff;
}

.darkTheme .blueBackgroundDiv {
    background: url('../../assets/images/bluebackgroundDark.svg') no-repeat;
    background-size: cover;
}

.darkTheme .cloudsBackground {
    background: url('../../assets/images/cloudsDark.svg') no-repeat;
    animation-delay: 0s;

}