@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Raleway';
}

div {
    font-family: 'Raleway';
}

span {
    font-family: 'Raleway';
}

p {
    font-family: 'Raleway';
}

a {
    font-family: 'Raleway';
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.pensionPlanBlueBg {
    background-image: url('../../assets/images/pensionPlanBlueBg.svg') !important;
    background-size: cover;
}

.pensionChartDiv {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(187, 185, 185, 0.25);
    border-radius: 16px;
}

.pensionChartTitle {
    font-weight: 700;
    color: #11A3E6;
}

.pensionWhiteCards {
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(166, 165, 165, 0.25);
    border-radius: 8px;
}

.pensionWhiteCards img {
    width: 150px;
}

.blueBgDivPension {
    background: #84CDEE;
    border-radius: 16px;
}

.whiteBgInBluePension {
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(166, 165, 165, 0.25);
    border-radius: 8px;
    width: 500px;
    margin: auto;
    margin-top: -5rem;
}
@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) { 
    .whiteBgInBluePension {
        margin-top: -3.5rem;
    }
}
@media (max-width: 575.98px) {
    .whiteBgInBluePension {
        width: 100%;
    }
}