.fw-400 {
    font-weight: 400 !important;
}

.containerRes input {
    border: 4px solid #fff;
}

.checkmarkRes {
    border: 4px solid #fff;
    border-radius: 12px;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    cursor: pointer;
}



.containerRes input:checked~.checkmarkRes {
    border: 4px solid #2196F3;
    transition: all 0.2s ease-in-out;
}

.checkmarkRes2 {
    display: block;
}

.containerRes2 input:checked~.checkmarkRes2:after {
    display: block;
}

.containerRes2 input {
    border: 3px solid #fff;
}

.checkmarkRes2 {
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    cursor: pointer;
    padding: 0.25rem 0rem 0.25rem 0rem;
    box-shadow: rgb(0 0 0 / 8%) 0 0 10px !important;
}



.containerRes2 input:checked~.checkmarkRes2 {
    border: 3px solid #2196F3;
    transition: all 0.2s ease-in-out;
}

.checkmarkRes2 {
    display: block;
}

.containerRes2 input:checked~.checkmarkRes2:after {
    display: block;
}

.checkmarkRes2 img {
    width: 29px;
}

.underCheckmarkSpan {
    font-weight: 400 !important;
}

.step3InputRechtss {
    width: 100%;
    background-color: #fff !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 0.5rem !important;
    outline: none !important;
    box-shadow: rgb(0 0 0 / 8%) 0 0 10px !important;
    -moz-box-shadow: rgb(0 0 0 / 8%) 0 0 10px !important;
    -webkit-box-shadow: rgb(0 0 0 / 8%) 0 0 10px !important;
}

.step3InputRechtss::placeholder {
    color: #AAABAB !important;
    font-weight: 500 !important;
}

.step3RechtssBtn {
    background: #358ACA;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    padding: 0.75rem;
    box-shadow: rgb(0 0 0 / 8%) 0 0 10px !important;
}

.blueBgRechtss {
    background: url('../images/rechtsschutzImgs/blueBg.svg') no-repeat;
    background-size: cover;
    height: 552px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 0px;
}

.whiteBgRecht {
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.24);
    
}

.blueBgRecht {
    background: #34ACE3;
    border-radius: 15px;
    color: #fff;
    position: absolute;
    width: calc(100% - 50px);
    left: 25px;
    top: -32px;
    border: 4px solid #34ACE3;;
}

.rechtssBtn {
    border-radius: 15px;
    background: #34ACE3;
    border: none;
    color: #fff;
    width: 100%;
    font-weight: 600;
}

.absoluteDivRecht {
    box-shadow: rgb(0 0 0 / 8%) 0 0 10px !important;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    top: -3rem;
}

.whiteBorderBottomRecht {
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: start;
    cursor: pointer;
}

.whiteBorderBottomRecht span {
    font-weight: 400;
}

.faqClosed {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.faqOpen {
    height: 80px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.faqOpen3 {
    height: 110px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.faqOpen2 {
    height: 130px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.faqOpen1 {
    height: 200px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

ol, ul {
    padding-left: 1rem !important;
}

.blueBgRechtssPriv {
    background-color: #fff;
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .faqOpen {
        height: 110px;
    }

    .faqOpen3 {
        height: 140px;
    }
    .arrowDivRech {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .faqOpen3 {
        height: 180px;
    }

    .faqOpen2 {
        height: 160px;
    }

    .faqOpen1 {
        height: 250px;
    }

    .faqOpen {
        height: 130px;
    }
}

@media (max-width: 575.98px) {
    .absoluteDivRecht {
        top: -2.5rem;
    }

    .faqOpen1 {
        height: 370px;
    }

    .faqOpen2 {
        height: 250px;
    }

    .faqOpen3 {
        height: 300px;
    }

    .faqOpen {
        height: 200px;
    }
}

@media (max-width: 391.98px) {
    .faqOpen2 {
        height: 270px;
    }

    .faqOpen {
        height: 250px;
    }

    .faqOpen1 {
        height: 450px;
    }
}

@media (max-width: 360.98px) {
    .whiteBorderBottomRecht span {
        font-size: 16px !important;
    }

    .faqOpen3 {
        height: 360px;
    }

    .faqOpen1 {
        height: 500px;
    }
}

@media (max-width: 320.98px) {
    .faqOpen3, .faqOpen1, .faqOpen2 {
        height: 100%;
        margin-bottom: 1rem;
    }

    .faqOpen {
        height: 300px;
    }

    .faqOpen1 {
        height: 530px;
    }
}

.darkTheme .hausratBlueDiv {
    background-color: #333436;
}

.darkTheme .blueBgRechtss {
    background: url('../images/rechtsschutzImgs/blueBgDark.svg') no-repeat;
    background-size: cover;
    height: 552px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 0px;

}

.darkTheme .blueBgRechtssPriv {
    background-color: #282424;
}

.darkTheme .blueBgRecht {
    background-color: #282424;
    box-shadow: rgb(0 0 0 / 30%) 0 0 10px !important;
    border: 4px solid #50B8E7;
}

.darkTheme .whiteBgRecht {
    background-color: #282424;
    color: #fff;
}
.darkTheme .step3InputRechtss {
    background-color: #282424 !important;
    color: #fff;
}

.darkTheme .step3InputRechtss::placeholder {
    color: #AAABAB !important;
    font-weight: 500 !important;
}