.card{
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    border-radius: 1.25rem !important;
}

.img{
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
.boxcard:hover {
    transform: scale(1.1);
}
.boxcard {
    transition: transform .4s;
        cursor: pointer;
}
.darkTheme .card-body {
    background-color: #333436 !important;
    border-radius: 0 0 15px 15px;
}
.darkTheme .card {
    border: none !important;
    box-shadow: none !important;
}

.titlebox{
    font-size: 15px;
}

.subtitlebox{
    font-size: 13px !important;
    color: #b9b9b9 !important;
}

@media (min-width: 769px) { 
   .img{
    height: 600px;
   }
    
  }

@media (max-width: 769px) { 
   .boxcard{
    width: 85% !important;
   }
   .img{
    height: auto;
   }
 }